
<input type="text" id="image-id" placeholder="Put image name here"/>
<input type="button" id="submit" value="Update image" />
<div id="openseadragon1" style="width: 450px; height: 500px;"></div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/openseadragon-bin-1.1.1/openseadragon.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").click(function () {
            var imageId = $("#image-id").val();
            var urlHost = "@Request.Url.GetLeftPart(UriPartial.Authority)";
            $.ajax({
                url: urlHost + "/image/info?id=" + imageId,
                beforeSend: function (xhr) {
                }
            }).done(function (data) {
                $("#openseadragon1").html("");
                console.log(data);                              
                var tileSource = new OpenSeadragon.IIIF1_1TileSource(data);
                OpenSeadragon({
                    id: "openseadragon1",
                    prefixUrl: "/Scripts/openseadragon-bin-1.1.1/images/",
                    preserveViewport: true,
                    visibilityRatio: 1,
                    minZoomLevel: 1,
                    defaultZoomLevel: 1,
                    tileSources: [tileSource]
                });
            });
        });
    });
</script>